<form method="POST" action="/dictionaries">
  <div class="field">
    <input type="hidden" name="user_id" value=<%= "#{current_user.id}" %> <br/>
    <label for="word">Word</label>
    <input type="text" required="required" name="word" id="word" /> <br />
  </div>
  <div class="field">
    <label for="voice_id">Voice File Location</label>
    <input type="text" required="required" name="voice_id" id="voice_id" /> <br />
  </div>
  <div class="field">
    <label for="description">Description</label>
    <textarea name="description" id="description" rows="10" cols="5"></textarea> <br />
  </div>
  <input class="btn btn-primary" type="submit" value="Submit" /> <a style="color:white;" href="/" class="btn btn-inverse"> Go Back </a>
</form>