<section class="subsection">
  <div class="add-voice">Add a voice</div>
</section>

<div id="container">
	<div id="word_info">
		<br/>
		<ul>
			<%= render 'form' %>
		</ul>
	</div>
	<div id="record_voice">
		<li>Press Record then record your voice</li>
		<li>Press Stop when finished recording</li>
		<li>Click on "click here to save"</li>
		<li>Copy and paste the sharing options link into Voice input box</li>
		<iframe src="http://vocaroo.com/?minimal" width="525" height="450" frameborder="0"></iframe>
	</div>
</div>



